body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: yellow;
    color: black;
    padding: 10px 0;
    text-align: center;
}

div {
    width: 100vw;
    height: 40px;
    background: palevioletred;
}

@media (max-width: 400px) {
    div {
        width: 100vw;
        height: 40px;
        background: purple;
    }

}

@media (max-width: 400px) {
    header {
        width: 100vw;
        height: 200px;
        background: palegoldenrod;
    }

}