.uaoclass {
    color: blueviolet;
    width: 100px;
    height: 100px;
}

#uaoid {
    background: darkorchid;
    width: 200px;
    height: 200px;
}

a[href="https://www.uao.edu.co"] {

    color: black;
}