div {
    width: 400px;
    height: 200px;
    background-color: aquamarine;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}

h1 {
    color: white;

}

.texto2 {
    background-color: blueviolet;
}